body {
	background-image:  url(background.png);
}

h1 {
	text-align: center;	
	font-family: Lobster, cursive;
	color:   #2F4F4F;
}

h2{
	font-family: arial;
	font-style: italic;
	color: #2E8B57;
	

}
span {
	font-style: italic;
	font-family: Lobster, cursive;
	color:   #2F4F4F;
}



img {
	position: ;
	width: 150px;
	height: 150px;
	-moz-border-radius: 10px;
 	-webkit-border-radius: 10px; 
 	-khtml-border-radius:10px; 
 	border-radius: 10px;
}

